// COLORS
$color-bg: #eee;
$color-col: orangered;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// MIXINS
@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}


*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.6rem;
  box-sizing: border-box;
}

.header {
  text-align: center;
  margin: 4rem auto;
}

.row {
  max-width: $grid-width;
  background-color: $color-bg;
  margin: 0 auto;

  // Applies declarations to all elements except the last one
  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }

  @include clearfix;

  .col-1-of-2 {
    width: calc((100% - #{$gutter-horizontal}) / 2);
    background-color: $color-col;
    float: left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }
}
