// COLORS
$color-bg: #ddd;
$color-col: dodgerblue;
$color-text: #fff;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// MIXINS
@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}


*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.6rem;
  text-align: center;
  box-sizing: border-box;
}

.header {
  margin: 4rem auto;
}

.row {
  max-width: $grid-width;
  background-color: $color-bg;
  margin: 0 auto;

  // Applies declarations to all elements except the last one
  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }

  @include clearfix;

  // Selects all the classes that start with "col-"
  [class^="col-"] {
    background-color: $color-col;
    color: $color-text;
    font-weight: bold;
    padding: 2rem;
    float: left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }

  // Setting columns widths
  .col-1-of-2 {
    width: calc((100% - #{$gutter-horizontal}) / 2);
  }

  .col-1-of-3 {
    width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
  }

  .col-2-of-3 {
    width: calc(2 * ((100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal});
  }

  .col-1-of-4 {
    width: calc((100% - 3 * #{$gutter-horizontal}) / 4);
  }

  .col-2-of-4 {
    width: calc(2 * ((100% - 3 * #{$gutter-horizontal}) / 4) + #{$gutter-horizontal});
  }

  .col-3-of-4 {
    width: calc(3 * ((100% - 3 * #{$gutter-horizontal}) / 4) +  2 * #{$gutter-horizontal});
  }
}
